body {
  display: flex;
  flex-direction: column;
  font-family: "Martel", serif;
  font-size: 16px;
}

section {
  border-radius: 15px;
  border: 1px solid gray;
  margin: 10px;
}

h1:first-child {
  margin-left: 10px;
  font-family: "Martel", serif;
  font-weight: 700;
}

h2 {
  font-family: "Martel", serif;
  font-weight: 500;
  margin-left: 10px;
}

h2:nth-child(4) {
  font-family: "Poppins", sans-serif;
}

.colors-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.color-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.color {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.a4d3d5 {
  background-color: #a4d3d5;
}

.ab7ba {
  background-color: #6ab7ba;
}

.ffe6fa {
  background-color: #ffe6fa;
}

.bf7cb2 {
  background-color: #bf7cb2;
}

.white {
  border: 1px solid grey;
}
